/* Google material Font icons */

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* end google material icons */

/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4775;
    --section-padding: 60px;
    --section-background: #f6f6f6;
}

html {
    scroll-behavior: smooth;
}

/* End Variables */

/* Start Global Rule */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #ffffff;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End global Rule */

/* Start Components */

.special-heading {
    margin: 0;
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -3px;
}

.special-heading+p {
    margin: -30px 0 0;
    text-align: center;
    font-size: 20px;
    color: #777;
}

@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
        font-size: 11.3px;
    }
}


/* End Components */

/* Start header */

.header {
    padding: 20px;

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .container .logo {
    width: 60px;
}

.header .container .links {
    position: relative;
}

.header .container .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .container .links .icon:hover span:nth-child(2) {
    width: 100%;
}

.header .container .links .icon span {
    background-color: var(--main-color);
    margin-bottom: 5px;
}

.header .container .links .icon span:first-child {
    width: 100%;
    height: 3px;
    border-radius: 2px;
}

.header .container .links .icon span:nth-child(2) {
    width: 70%;
    height: 3px;
    border-radius: 2px;

    transition: .3s;
}

.header .container .links .icon span:last-child {
    width: 100%;
    height: 3px;
    border-radius: 2px;

}

.header .container .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #cdcdcd;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    border-radius: 5px 1px 5px 5px;
    z-index: 1;
    /* to make it on the top */
}

.header .container .links:hover ul {
    display: block;
}

.header .container .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #cdcdcd transparent;
    position: absolute;
    right: 0.1px;
    top: -19.0px;
}

.header .container .links ul li a {
    display: block;
    padding: 15px;
    color: #212121;
    text-decoration: none;
    transition: .3s;
}

.header .container .links ul li a:hover {
    padding-left: 25px;
}

.header .container .links ul li:not(:last-child) a {
    border-bottom: 1px solid #21212129;

}

/* End header */
/* Start Landing Section */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    /* The background image is scaled to cover the entire element, maintaining its aspect ratio. */
    height: calc(100vh - 64px);
    /* 64px is the header width */
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 350px;
    max-width: 100%;
    /* to not exceeds any container size */
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    color: var(--main-color);
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}


/* End Landing Section */
/* Start Features */

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.features .container .feat {
    padding: 20px;
    text-align: center;
}

.features .container .feat i {
    font-size: 30px;
    color: var(--main-color);
}

.features .container .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

.features .container .feat p {
    text-align: center;
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}

/* End Features */

/* Start Services */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}

.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}

.services .container .srv i {
    color: var(--main-color);
    flex-basis: 60px;
    /* we use flex-basis because we want the flex to deal with the icon by width and height */
}

.services .container .srv .text {
    flex: 1;
    /* to use the rest of space after the 60px icon has been taken */
}

.services .container .srv .text h3 {
    margin: 0 0 20px;
}

.services .container .srv .text p {
    color: #777;
    font-weight: 300;
    line-height: 1.6;
}

.services .container .services-content .image {
    text-align: center;
    position: relative;
}

.services .container .services-content .image::before {
    content: "";
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
    position: absolute;
    top: -50px;
    right: 0;
    z-index: -1;
}

.services .container .services-content .image img {
    width: 260px;
}

@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}

/* to hide the image in the screens with dimensions below 1199px */

/* End Services */

/* Start Portfolio */

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;

}

/* End Portfolio */

/* Start About */

.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) +60px);
}

.about .about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}

.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}

@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}

.about .about-content .image img {
    max-width: 100%;
}

.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    height: 300px;
    top: -40px;
    right: -147px;
    z-index: -1;
}

@media (max-width: 991px) {

    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}

.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color);

}

.about .about-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}

/* End About */

/* Start Contact */

.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .info .label {
    font-weight: 800;
    font-size: 35px;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}


.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;

}

@media (max-width: 767px) {

    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}

.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}

.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color);
}

/* End Contact */

/* Start Footer */

.footer {
    background-color: var(--secondary-color);
    text-align: center;
    color: white;
    padding: 30px 10px;
    font-size: 18px;
}

.footer span {
    font-weight: bold;
    color: var(--main-color);
}

@media (max-width: 767px) {
    .footer {
        padding: 10px 5px;
        font-size: 10px;
    }
}

/* End Footer */